
h1{
color: #66BFBF;
}

body {
 background-image: url("my photo 2-modified.png");
 background-color : #66BFBF;
}

h3{
color: #66BFBF;
}

body {
  background-color: #EAF6F6;
}

hr {

  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

img{
  width:70%;
  height:20%;
}
.circular{
  border-radius:100%;
}
